* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  font-family: inherit;
}

input, textarea, select {
  border: none;
  font-family: inherit;
  outline: none;
}

li {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
